*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Poppins, sans-serif;
}
header{
    width: 100%;
    height: 100px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    

}
.cabecario{
    width: 100%;
    justify-content: space-around;
    display: flex;
    gap: 30px;
    align-items: center;
    
}
.cabecario a{
    color: black;
    font-size: 18px;
}

.info{
    width: 100%;
    height: 300px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}
.info-mov{
    width: 50%;
    /* display: flex; */
    height: 80px;
    align-items: center;
    font-size: 26px;
    margin-top: 10px;
    
}

.info-resume{
    width: 80%;
    display: flex;
    height: 60px;
    font-size: 26px;
    align-items: center;
    margin-top: 30px;
}
.elementos{
    width: 80%;
    height: 40px;
    display: flex;
    align-items:center;
}
.elementos img{
    width: 30px;
    height: 30px;
    padding: 10px;
}
.elementos a:hover{
    transition: 0.3s;
    margin-top: -10px;
}
body{
    background-color: #f2f6f8;
}
.cabecario a::after {
    content: "";
    display: block;
    width: 0px;
    height: 1px;
    background: rgb(0, 0, 0);
    transition: width 0.2s ease-in;
     margin: 0 auto;
}

.cabecario a:hover::after {
    width: 100%;
}
.cursor {
    display: inline-block;
    font-weight: bold;
    color: black;
    animation: blink 0.7s infinite;
    margin-left: 3px;
}
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode header {
    background-color: #1f1f1f;
}

body.dark-mode .cabecario a {
    color: white;
}

body.dark-mode .typed-text,
body.dark-mode .cursor {
    color: white;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.typed-text {
    color: #000; /* você pode mudar para outra cor se quiser destaque */
}
.rgb-text {
    background: linear-gradient(270deg, #ff0000, #00ff00, #0000ff, #ff0000);
    background-size: 600% 600%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rgbFlow 5s ease infinite;
    font-size: 36px;
}
@keyframes rgbFlow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.logo-g {
    height: 60px;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.logo-g:hover {
    transform: scale(1.1);
}